@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Empleado> favoritos = this.memoryCache.Get<List<Empleado>>("FAVORITOS");
}

<h1>Empleados favoritos</h1>

<p>
    <a asp-controller="Empleados" asp-action="SessionEmpleadosV5">Volver a Empleados V5</a>
</p>

<h2>@ViewData["MENSAJE"]</h2>

@if(favoritos != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Oficio
                </th>
                <th>
                    Salario
                </th>
                <th>
                    Departamento
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in favoritos)
            {
                <tr>
                    <td>
                        @item.IdEmpleado
                    </td>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Oficio
                    </td>
                    <td>
                        @item.Salario
                    </td>
                    <td>
                        @item.IdDepartamento
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Empleados" asp-action="EmpleadosFavoritos" asp-route-ideliminar="@item.IdEmpleado">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 style="color: red">No tenemos empleados favoritos</h3>
}