
@{
    //NECESITAMOS SESSION EN LA VISTA PARA COMPROBAR SUS DATOS
    List<int> ids = @Context.Session.GetObject<List<int>>("IDSEMPLEADOS");
    List<Empleado> favoritos = memoryCache.Get<List<Empleado>>("FAVORITOS");
}
@model List<Empleado>

<h1 style="color:green"> Session empleados V5</h1>

@if(ids != null)
{
    <h3 style="background-color: lightcoral"> Empleados Session: @ids.Count</h3>
}
else
{
    <h3 style="background-color: lightcoral"> Empleados Session: 0</h3>
}

@if(favoritos != null)
{
    <h3 style="background-color: lightgreen">Favoritos: @favoritos.Count</h3>
}
else
{
    <h3 style="background-color: lightgreen">Favoritos: 0</h3>
}

<p>
    <a asp-controller="Empleados" asp-action="EmpleadosAlmacenadosv5">Empleados almacenados v5</a>
</p>
<p>
    <a asp-controller="Empleados" asp-action="EmpleadosFavoritos">Favoritos</a>
</p>

<h4>@ViewData["MENSAJE"]</h4>

@if (Model != null)
{
    <ul class="list-group">
        @foreach (Empleado empleado in Model)
        {
            <li class="list-group-item">
                @empleado.Apellido
                @if(favoritos == null)
                {
                   <a asp-controller="Empleados" asp-action="SessionEmpleadosV5" asp-route-idfavorito="@empleado.IdEmpleado">Favorito</a>
                }
                else
                {
                    Empleado empFavorito =
                        favoritos.Find(e => e.IdEmpleado == empleado.IdEmpleado);
                    if(empFavorito == null)
                    {
                        <a asp-controller="Empleados" asp-action="SessionEmpleadosV5" asp-route-idfavorito="@empleado.IdEmpleado">Favorito</a>
                    }
                    else
                    {
                        <img src="~/images/Álvaro_Arbeloa.jpg" style="width:30px; height:30px"/>
                    }
                }


                @if (ids == null)
                {
                    //NO TENEMOS SESSION
                    <a asp-controller="Empleados" asp-action="SessionEmpleadosV5" asp-route-idEmpleado="@empleado.IdEmpleado">Almacenar empleado</a>
                }
                else
                {
                    //BUSCAMOS SI EL EMPLEADO QUE ESTAMOS RECORRIENDO ESTA EN LA LISTA
                    if (ids.Contains(empleado.IdEmpleado))
                    {
                        <img src="~/images/Álvaro_Arbeloa.jpg" style="width: 40px; height:40px;"/>
                    }
                    else
                    {
                        <a asp-controller="Empleados" asp-action="SessionEmpleadosV5" asp-route-idEmpleado="@empleado.IdEmpleado">Almacenar empleado</a>
                    }
                }
            </li>
        }
    </ul>
}